<mat-toolbar>
  <div [formGroup]="searchForm">
    <input matInput placeholder="Search Term" formControlName="searchTerm">
    <button mat-button (submit)="search(searchForm.get('searchTerm').value)"
            (click)="search(searchForm.get('searchTerm').value)">Search
    </button>
  </div>
</mat-toolbar>


<mat-grid-list cols="3" >
  <mat-grid-tile *ngFor="let result of searchResultItems$ | async">
    <div>
      <vmax-preview-player [youtubeVideoId]="result.id.videoId"></vmax-preview-player>
    </div>
  </mat-grid-tile>

</mat-grid-list>


