<mat-card class="preview-player">
  <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
    <span fxFlex="80%">{{project.name}}</span>
    <a *ngIf="hasEdit" (click)="edit.emit(project)"><mat-icon fxFlex="10%">mode_edit</mat-icon></a>
    <a *ngIf="hasDelete" (click)="delete.emit(project)"><mat-icon fxFlex="10%">delete</mat-icon></a>
    <a *ngIf="hasAdd" (click)="add.emit(project)"><mat-icon fxFlex="10%">add</mat-icon></a>
  </mat-card-title>

  <mat-card-content>
    <youtube-player *ngIf="project.id.startsWith('youtube:')"
                    [videoId]="project.id.split(':')[1]"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
    ></youtube-player>
  </mat-card-content>

  <mat-card-footer>
    &nbsp;Duration: {{ player.getDuration() | hoursMinutesSeconds}}
  </mat-card-footer>
</mat-card>
