<h1 mat-dialog-title>Add a new project</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput id="name" name="name" placeholder="name" formControlName="name">
    <mat-error>
      <span *ngIf="form?.controls['name']?.errors?.required">The name is required</span>
      <span *ngIf="form?.controls['name']?.errors?.minLength">The name must be longer then 1 character</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput id="description" name="description" placeholder="description" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput id="url" name="url" placeholder="url" formControlName="url">
    <mat-error>
      <span *ngIf="form?.controls['url']?.errors?.required">The url is required</span>
      <span *ngIf="form?.controls['url']?.errors?.pattern">The url is not valid</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput id="thumbnail" name="thumbnail" placeholder="thumbnail" formControlName="thumbnail">
  </mat-form-field>
</div>
<div mat-dialog-actions [formGroup]="form">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="form.invalid" [mat-dialog-close]="form.value" cdkFocusInitial>Add</button>
</div>
