<div *ngIf="project$ | async as project; else noVideo" fxLayout="row">
  <div fxFlex="1 1 auto">
    <mat-card>
      <vmax-editor-video-view [project]="project"></vmax-editor-video-view>
    </mat-card>
    <mat-card>
      <vmax-editor-video-input [project]="project"
                               (addTranslation)="addTranslation($event)"></vmax-editor-video-input>
    </mat-card>
  </div>
  <div class="transaction-list" fxFlex="1 1 30em">
    <vmax-editor-list-view [project]="project" (removeTranslation)="removeTranslation($event)"></vmax-editor-list-view>
  </div>
</div>
<ng-template #noVideo>
  <h1>No project there, yet!</h1>
</ng-template>
